<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>G:\GitHub\GameBox\Project\simulator\win32\Project.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>G:\GitHub\GameBox\Project</StartWorkingDirectory>
  </propertyGroup>
</Project>