<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/chapter/chapter_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{210,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,107}</string>
			</dict>
			<key>art/chapter/each_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,540},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,540},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,540},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,276},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss4.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,276},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss5.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,276},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss6.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,276},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_shang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,276},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,320},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,364},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,408},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title5.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,452},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title6.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,496},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/fangxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,540},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,108},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,185},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,206},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fanhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,752},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/fanhui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,745},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/shangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,745},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/shangdian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,745},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/tiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>art/chapter/tiaozhan22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/weikaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,481},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/weikaiqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,481},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{800,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,170}</string>
			</dict>
			<key>art/chapter/kuanggai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{508,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,273}</string>
			</dict>
			<key>art/chapter/chapter_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{489,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,187}</string>
			</dict>
			<key>art/chapter/chapter_dizuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,803},{489,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{489,187}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chapterUI.png</string>
			<key>realTextureFileName</key>
			<string>chapterUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>