<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/battle/an.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,820},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>art/battle/bian.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1},{160,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,186}</string>
			</dict>
			<key>art/battle/board.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,602},{162,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,50}</string>
			</dict>
			<key>art/battle/buji.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,162},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,123},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,123},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,163},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,323},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/buji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,324},{181,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,159}</string>
			</dict>
			<key>art/battle/change1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,484},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>art/battle/change2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,636},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>art/battle/chongwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/chongwan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,284},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,123},{233,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,65}</string>
			</dict>
			<key>art/battle/gongji.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,712},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>art/battle/gongji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,812},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>art/battle/goumai.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,68},{50,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,32}</string>
			</dict>
			<key>art/battle/gu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,531},{70,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,130}</string>
			</dict>
			<key>art/battle/gu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,284},{70,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,130}</string>
			</dict>
			<key>art/battle/gu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,284},{70,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,130}</string>
			</dict>
			<key>art/battle/guang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{142,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,118}</string>
			</dict>
			<key>art/battle/guang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,356},{142,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,118}</string>
			</dict>
			<key>art/battle/guang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,788},{142,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,118}</string>
			</dict>
			<key>art/battle/hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,355},{96,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,132}</string>
			</dict>
			<key>art/battle/jingqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,323},{206,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,36}</string>
			</dict>
			<key>art/battle/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,476},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/jixu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,418},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/limitM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{306,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,120}</string>
			</dict>
			<key>art/battle/limitT.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{306,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,120}</string>
			</dict>
			<key>art/battle/shengying.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,552},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/shengying2.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,630},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/shijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,619},{206,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,36}</string>
			</dict>
			<key>art/battle/shoulei.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,907},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>art/battle/shoulei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,938},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>art/battle/shouleishu.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,852},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>art/battle/shuzidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>art/battle/skill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,892},{70,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,66}</string>
			</dict>
			<key>art/battle/skillbtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,924},{89,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,74}</string>
			</dict>
			<key>art/battle/skillbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,924},{89,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,74}</string>
			</dict>
			<key>art/battle/tao.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,912},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>art/battle/tao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,912},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>art/battle/tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,485},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/tuichu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,686},{152,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,132}</string>
			</dict>
			<key>art/battle/xue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,284},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,120}</string>
			</dict>
			<key>art/battle/xue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,358},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,120}</string>
			</dict>
			<key>art/battle/xue3.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,480},{69,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,120}</string>
			</dict>
			<key>art/battle/xuebao.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,766},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>art/battle/xuebao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,809},{46,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,41}</string>
			</dict>
			<key>art/battle/you.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,623},{126,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,91}</string>
			</dict>
			<key>art/battle/you2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,751},{126,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,91}</string>
			</dict>
			<key>art/battle/zhanting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,820},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>art/battle/zhanting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,879},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>art/battle/zhengchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,489},{96,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,132}</string>
			</dict>
			<key>art/battle/zhuti.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,784},{138,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,128}</string>
			</dict>
			<key>art/battle/zidanshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,895},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>art/battle/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,908},{126,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,91}</string>
			</dict>
			<key>art/battle/zuo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,619},{126,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>_battleUI.png</string>
			<key>realTextureFileName</key>
			<string>_battleUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>