<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/chapter/each_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,206},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,411},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,673},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss4.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,878},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss5.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,673},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_boss6.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,878},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_shang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,198},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,198},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,206},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,223},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title5.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,206},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/each_title6.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,223},{42,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,15}</string>
			</dict>
			<key>art/chapter/fangxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,839},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,625},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,761},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fangxiang22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,625},{75,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,134}</string>
			</dict>
			<key>art/chapter/fanhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,838},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/fanhui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,954},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/shangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,838},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/shangdian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,838},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/tiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,106},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>art/chapter/tiaozhan22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,954},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/weikaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,761},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/weikaiqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,625},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/chaptertitle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/chaptertitle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/chaptertitle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/chaptertitle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/chaptertitle5.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/chaptertitle6.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,990},{108,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,33}</string>
			</dict>
			<key>art/chapter/each_mode1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,206},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_mode2.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,411},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/each_mode3.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,242},{203,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,105}</string>
			</dict>
			<key>art/chapter/tiaozhan21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,625},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>art/chapter/boss1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,990},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/boss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,985},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/boss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,985},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/boss4.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,985},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/boss5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,985},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/boss6.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>art/chapter/chapter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/chapter_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/chapter_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/chapter_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/chapter_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,343},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/chapter_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,685},{340,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,303}</string>
			</dict>
			<key>art/chapter/close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,616},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,611},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/close3.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,668},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/close4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,568},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/close5.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,725},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/close6.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,782},{250,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,55}</string>
			</dict>
			<key>art/chapter/each_bossinfo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,447},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>art/chapter/each_bossinfo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,529},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>art/chapter/each_bossinfo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,240},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>art/chapter/each_bossinfo4.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,322},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>art/chapter/each_bossinfo5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,404},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
			<key>art/chapter/each_bossinfo6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,486},{253,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>_chapter.png</string>
			<key>realTextureFileName</key>
			<string>_chapter.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>