<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/role/a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,954},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,777},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,836},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,777},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,895},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,954},{57,200}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,201}</string>
			</dict>
			<key>art/role/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,967},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,203},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,405},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,607},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,607},{52,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,201}</string>
			</dict>
			<key>art/role/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,871},{469,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,81}</string>
			</dict>
			<key>art/role/gangtie.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,368},{25,161}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,177}</string>
			</dict>
			<key>art/role/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,836},{129,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,192}</string>
			</dict>
			<key>art/role/guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,670},{296,105}}</string>
				<key>offset</key>
				<string>{-7,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,150}</string>
			</dict>
			<key>art/role/liji.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,809},{118,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>art/role/liji2.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{118,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>art/role/lijikaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,661},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>art/role/lijikaiqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,361},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>art/role/shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,954},{361,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,60}</string>
			</dict>
			<key>art/role/xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,503},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>art/role/xuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1},{140,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,76}</string>
			</dict>
			<key>art/role/xuanze.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,121},{118,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>art/role/xuanze2.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,241},{118,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,52}</string>
			</dict>
			<key>art/role/xue.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,395},{240,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,273}</string>
			</dict>
			<key>art/role/xue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{196,365}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,372}</string>
			</dict>
			<key>art/role/you.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,413},{213,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,457}</string>
			</dict>
			<key>art/role/zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,413},{213,456}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,457}</string>
			</dict>
			<key>art/role/xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{295,410}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,454}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>_selectrole.png</string>
			<key>realTextureFileName</key>
			<string>_selectrole.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>